<div class="wrapper">
  <div class="wrapper-navbar">
    <img src="../../../assets/icon.svg" alt="icon" />

    <div class="wrapper-navbar-right">
      <a class="link">Recipes</a>
      <a class="link">Master classes</a>

      <app-button label="Log in"></app-button>
      <app-button class="signup" label="Sign up"></app-button>
    </div>
  </div>

  <div class="wrapper-text">
    <h1>Are you Hungry?</h1>
    <p>
      Find thousands of recipes complete with how <br />
      to cook them. you can became a professional <br />
      chef just from home.
    </p>
  </div>

  <div class="wrapper-input">
    <img src="../../../assets/chefIcon.svg" alt="" />
    <input type="text" placeholder="find the recipes you want" />
    <app-button label="Search"></app-button>
  </div>
</div>
